
.menu-container::before {
    content: '';
    background-image: url('https://cdn3.iconfinder.com/data/icons/digital-game-sports-medical/1000/file-49-512.png');
    background-size: 100px 100px;
    background-color: tomato;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    padding: 15px;
    width: 100px;
    height: 100px;
    position: relative;
    left: -7em;
    font-size: 40px;
    top: 2.2em;
    
}
.menu-container::after {
    content: '';
    background-image: url('https://cdn3.iconfinder.com/data/icons/digital-game-sports-medical/1000/file-49-512.png');
    background-size: 100px 100px;
    background-color: tomato;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    padding: 15px;
    width: 100px;
    height: 100px;
    position: relative;
    left: 7em;
    font-size: 40px;
    top: -5.2em;

}



.menu-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.menu-header {
    font-size: 80px;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.19);
}

/* .menu-content__container {
    margin-top: 3em;
} */

.btn-container {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    outline: none;
}

.menu-btn {
    display: block;
    background-color: white;
    border: 3px solid black;
    padding: 5px;
    margin: 15px 10px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color ease-in 500ms;
}

.menu-btn:hover {
    background-color: tomato;
    color: white;
}


.menu-btn--one {
    animation: moveInLeft 1s forwards;
}

.menu-btn--two {
    width: 90%;
    margin-left: 5%;
    animation: moveInLeft 1.5s forwards;
    /* animation-delay: -200ms; */

}

.menu-btn--three {
    width: 80%;
    margin-left: 10%;
    animation: moveInLeft 2s forwards;
    /* animation-delay: -300ms; */

}



@keyframes moveInLeft {
    from {transform: translateX(-2000px);}
    to {transform: translateX(0);}
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (max-width: 400px) {
    .menu-header {
        font-size: 60px;
        text-align: center;
    }
    .menu-btn {
        width: 50%;
        margin-left: 20%;
    }

    .menu-container::before {
        top: 1em;
        left: 0;
    }
    .menu-container::after {
        top: 0.5em;
        left: 0;
    }
}

