.wholeBoard {
  display: flex;
  flex-direction: column;
  align-self: center;
  animation: comeInPlease 1s ease-out; 

}

.wholeBoard:after {
    clear: both;
    content: "";
    display: table;
  }
      
  .status {
    margin-bottom: 20px;
    margin-left: 10px;
    color:#fff;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
  }

.winner {
  background-color: yellow;
}


.restart {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: 100;
  font-size: 24px;
  margin: 50px;
  transition: transform 500ms ease-in;
  
}

.restart:hover {
  transform: scale(2);
    
}


@keyframes moveInBottom {
  0%{
      opacity: 0;
      transform: translateY(-3rem)
  }


  100%{
      opacity: 1;
      transform: translate(0);
  }

}