.square {
    background-color: tomato;
    float: left;
    font-size:44px;
    font-weight: bold;
    line-height: 34px;
    height: 154px;
    width: 154px;
    margin-top: -1px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    border: none; 
    color: white;

  }

  .square:hover {
    background-color: #f4f3ea;
  }
  
  .square:focus {
    outline: none;
  }
  
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .winner {
    background-color: yellow;
  }